.swiperContainer {
  width: 100%;
  max-width: 90vw;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: auto !important;
  padding-bottom: 20px !important;
}

.swiperSlide {
  height: auto !important;
  display: flex;
}

@media (min-width: 640px) {
  .swiperContainer {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .swiperContainer {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .swiperContainer {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .swiperContainer {
    max-width: 1920px;
  }
}
